@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(232, 232, 232);
    font-family: 'Poppins', sans-serif;
}

.container {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    padding: 20px 0px 20px 0px;
    background-color: #fff;
}
.container > .child_container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title {
    display: flex;
    align-items: center;
    gap: 5px;
}

.title > h1 {
    font-family: 'Lilita One', sans-serif;
}

.title > h1 > span, .fav > h3 > a > span, .fav > h3 > a > i{
    color: red;
}

.search_area {
    display: flex;
}

.search_area > input[type=text] {
    width: 600px;
    height: 45px;
    padding-left: 30px;
    outline: none;
    border: 1px solid black;
    border-right: none;
    border-radius: 60px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.search_area > button {
    padding-top: 3px;
    padding-right: 4px;
    border: 1px solid black;
    border-left: none;
    background: none;
    cursor: pointer;
    border-radius: 60px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.trendingMovies {
    width: 100%;
    height: 45px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-bottom: 1px solid rgb(194, 192, 192);
}

.trendingMovies > .trendingText {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
}

.trendingText > h3 {
    background-color: rgb(81, 0, 255);
    height: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: 20px;
    padding-right: 20px;
    color: #fff;
}


#trednMovies {
    display: flex;
    height: 100%;
    gap: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 20px;
}


#allMoviesPlace {
    width: 1228.8px;
    max-width: 1228.8px;
    margin: auto;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.trednMoviesTitleElement {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 150px;
}